{% extends 'base.html' %}
{% block body %}
<section class="profile-page">
    <div class="container">
        <div class="row">
            <div class="d20">
                <div class="padding-right m20">
                    <div class="box-shadow">
                        <div class="profile">
                            <div class="image">
                                <img src="/static/img/profile-image.png" alt="Бегалиев Тилек Таалаевич">
                            </div>
                            <div class="name">
                                <p>Бегалиев Тилек Таалаевич</p>
                            </div>
                            <div class="balance">
                                <span>мой баланс:</span>
                                <p>750.00 <u>C</u></p>
                            </div>
                        </div>
                        <nav class="sidebar-menu">
                            {% include '../profile-sidebar-menu.html' %}
                        </nav>
                    </div>
                </div>
                <div class="mn10"></div>
            </div>
            <div class="d80 account">
                <div class="box-shadow">
                    <div class="p20">
                        <h2>Сменить пароль</h2>
                        <div class="table margin-none">
                            <div class="mn10"></div>

                            <div class="middle">
                                <div class="mn10"></div>
                                <div class="form">
                                    <form method="post">
                                        <label>Старый пароль</label>
                                        <input type="password" name="password1" class="inputm" placeholder="Старый пароль">
                                        <label>Новый пароль</label>
                                        <input type="password" name="password2" class="inputm" placeholder="Новый пароль">
                                        <label>Повтор нового пароля</label>
                                        <input type="password" name="password3" class="inputm" placeholder="Повтор нового пароля">
                                        <button type="submit" name="change-password" class="btnm">Сохранить</button>
                                        <input type="hidden" name="secure-code" value="570618">
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mn10">
                </div>        </div>
        </div>
</section>
{% endblock body %}