{% extends 'base.html' %}
{% block body %}
<section class="login-page auth">
    <div class="container">
        <div class="row">
            <div class="col-md-12"><h1>Сброс пароля</h1></div>
        </div>
        <div class="row">
            <div class="contentt">
                <div class="d50">
                    <a href="/" class="a">
                        <div class="image"><img src="/static/img/logo/kaz800.png" alt="Элдик казына"></div>
                    </a>
                </div>
                <div class="d50">
                    <div class="mn30"></div>

                    <div class="table">
                        <div class="form">
                            <form method="post" autocomplete="off">
                                <label>Номер телефона</label>
                                <input type="text" name="username" class="input" placeholder="Номер телефона (0XXX XX XX XX)" required value="">
                                <div class="table margin-none">
                                    <div class="middle">
                                        <label>
                                            <a href="{% url 'login' %}" class="a">Войти в личный кабинет</a>
                                        </label>
                                    </div>
                                </div>
                                <button type="submit" name="resetpass">Отправить</button>
                                <input type="hidden" name="secure-code" value="437470">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mn30"></div>
    </div>
</section>
{% endblock body %}