{% extends 'base.html' %}
{% block body %}
<section class="content">
    <div class="container">
        <div class="row">
            <div class="table margin-none">
                <div class="mn25"></div>

                    {% if about %}
                        <h2>{{ about.title }}</h2>
                    {% else %}
                        <h2>О компании</h2>
                    {% endif %}

                <div class="mn5"></div>

                {% if about %}
                    <p class="text">{{ about.description1 }}</p>
                {% else %}
                    <div class="text">
                <p class="text">
                    Элдик Казына - бул карапайым элдин социалдык жана экономикалык абалын жакшыртуу системасы, ошондой эле инвестиция кылууга мүмкүнчүлүгү бар жарандардын платформасы.
                </p>
                <p class="text">
                    Көзөмөлчүлөр аркылуу катышуучулар текшерүү иштерин жүргүзүшөт. Алар катышуучу тарабынан кызматына койулат жана алмаштырылат. Эсеп курамындагы элдик көзөмөл ар бир дубандан тең санда бирден гана болуусу зарыл. Айлык майана көрсөтүлгөн эмес. Текшерүү кызмат учурунда жол кире, тамак аш, жатакана чыгымдары төлөнүп берилет.
                </p>
                <p class="text">
                    Элдик Казына жана Үркөр Эли коомдук бирикмесинин жалпы бухгалтерийа иштерин, балансын текшерүүлөрүнүн натыйжасында табылган кем каражаттарды күнөлүү кызматкер жетпеген көлөмдү ордуна кайтарып бергенден тышкары көзомөлчүгө да ошол көлөмдөгү каражатты төлөп берүүгө милдеттүү. Текшерүүлөрдүн жыйынтыгы көзөмөлчүлөр тарабынан ачык жарыйаланат.
                </p>
                </div>
                {% endif %}

                    {% if about %}
                        <div class="image"><img src="{{ about.photo.url }}" alt="Responsive image"></div>
                    {% else %}
                        <div class="image"><img src="/static/img/building.png" alt="Responsive image"></div>
                    {% endif %}

                {% if about %}
                    <p class="text">{{ about.description2 }}</p>
                {% else %}
                    <div class="text">
                <p class="text">
                    Билгилер - катышуучулардын өрөөн (район) өкүлдөрү болуп эсептелинет. Билгилер ар бир өрөөндөн бирден гана болот. Билгилер жыйын аркылуу талап койуп, сунуш киргизип, чечим чыгарып жалпы Үркөр Эли жана Элдик Казына иштерин башкарышат. Жыйын кеминде бир чейректе бир жолу болуусу зарыл, чейректик жыйындардын өтүүчү күндөрү: <b>21 декабрь,  21 март,  21 июнь,  21 сентябрь</b>
                </p>
                <p class="text">
                    Билги кирүү акысы - <b>1500</b> сом, ай сайын төлөнүүчү салым <b>100</b> сом. Айлык майана каралган эмес, бирок иштеринин тыгыздыгына жараша каралышы мүмкүн. Жыйын өткөн күндөргө байланыштуу жол кире, жатакана, тамак аш чыгымдары төлөнүп берилет.
                </p>
                </div>
                {% endif %}

                <div class="mn10"></div>
            </div>
        </div>
    </div>
</section>
{% endblock body %}