{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <title>Элдик Казына - Уркор Эли коомдук бирикменин платформасы</title>

    <meta name="description" content="Элдик Казына - бул Уркор Эли коомдук бирикменин платформасы. Көзөмөлчүлөр аркылуу катышуучулар текшерүү иштерин жүргүзүшөт. Алар катышуучу тарабынан кызматына койулат жана алмаштырылат. Эсеп курамындагы элдик көзөмөл ар бир дубандан тең санда бирден гана болуусу зарыл. Айлык майана көрсөтүлгөн эмес. Текшерүү кызмат учурунда жол кире, тамак аш, жатакана чыгымдары төлөнүп берилет.">
    <meta name="keywords" content="Элдик Казына - бул Уркор Эли коомдук бирикменин платформасы">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="content-type" content="text/html;charset=utf-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta property="og:locale" content="kg_KG">
    <meta property="og:type" content="article">
    <meta property="og:title" content="Элдик Казына - Уркор Эли коомдук бирикменин платформасы">
    <meta property="og:description" content="Элдик Казына - бул Уркор Эли коомдук бирикменин платформасы. Көзөмөлчүлөр аркылуу катышуучулар текшерүү иштерин жүргүзүшөт. Алар катышуучу тарабынан кызматына койулат жана алмаштырылат. Эсеп курамындагы элдик көзөмөл ар бир дубандан тең санда бирден гана болуусу зарыл. Айлык майана көрсөтүлгөн эмес. Текшерүү кызмат учурунда жол кире, тамак аш, жатакана чыгымдары төлөнүп берилет.">
    <meta property="og:image" content="http://kazyna.kgassets/img/logo.png">
    <meta property="og:url" content="http://kazyna.kg">
    <meta property="og:site_name" content="ELDIK KAZYNA">

    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="ELDIK KAZYNA">
    <meta name="twitter:title" content="Элдик Казына - Уркор Эли коомдук бирикменин платформасы">
    <meta name="twitter:description" content="Элдик Казына - бул Уркор Эли коомдук бирикменин платформасы. Көзөмөлчүлөр аркылуу катышуучулар текшерүү иштерин жүргүзүшөт. Алар катышуучу тарабынан кызматына койулат жана алмаштырылат. Эсеп курамындагы элдик көзөмөл ар бир дубандан тең санда бирден гана болуусу зарыл. Айлык майана көрсөтүлгөн эмес. Текшерүү кызмат учурунда жол кире, тамак аш, жатакана чыгымдары төлөнүп берилет.">
    <meta name="twitter:image" content="http://kazyna.kgassets/img/logo.png">

    <link rel="stylesheet" href="{% static 'libs/slick/slick.css' %}">
    <link rel="stylesheet" href="{% static 'libs/slick/slick-theme.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&amp;subset=cyrillic-ext" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}">
</head>
<body class="wh">
<div class="fixed-social left">
    <a href="tel:+996555435433" class="a tel"></a>
    <a href="https://facebook.com" class="a facebook" target="_blank"></a>
    <a href="https://www.messenger.com" class="a messenger" target="_blank"></a>
    <a href="https://whatsapp.com" class="a whatsapp" target="_blank"></a>
</div>
<div class="fixed-social right">
    <a href="https://pay24.asia" class="a pay24" target="_blank"></a>
    <a href="https://www.elsom.kg" class="a elsom" target="_blank"></a>
</div>
<!--start header-->
{% include 'header.html' %}
<!--end header-->
{% block body %}
{% endblock body %}
{% include 'footer.html' %}
<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'js/jquery-ui.min.js' %}"></script>
<script src="{% static 'libs/slick/slick.min.js' %}"></script>
<script src="{% static 'js/form.js' %}"></script>
<script src="{% static 'js/mas.js' %}"></script>
<script src="{% static 'js/common.js' %}"></script>
</body>
</html>