{% extends 'base.html' %}
{% block body %}
<section class="help">
    <div class="container">
        <h2 class="hello">Часто задаваемые<br>Вопросы/Ответы</h2>
    </div>
</section>
<section class="faq">
    <div class="container">
        <div class="row">
            <div class="col-md-3 questions">
                <ul>
                    <li class="dropdown">
                        <a rel="#">Как начать?</a>
                    </li>
                    <li class="dropdown">
                        <a rel="#">Настройки аккаунта</a>
                    </li>
                    <li class="dropdown">
                        <a rel="#">Создать профиль</a>
                    </li>
                    <li class="dropdown">
                        <a rel="#">Связь с пользователями</a>
                    </li>
                    <li class="dropdown">
                        <a rel="#">Улучшения связи</a>
                    </li>
                    <li class="dropdown">
                        <a rel="#">Карьерный рост</a>
                    </li>
                    <li class="dropdown">
                        <a rel="#">Система выплат и оплат</a>
                    </li>
                    <li class="dropdown">
                        <a rel="#">Страницы компаний</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-9 answers">
                <div class="answer-block">
                    <h3>Как начать?</h3>
                    <h5>What is Lorem Ipsum?</h5>
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                    </p>
                    <div class="mn20"></div>
                    <h5>Where does it come from?</h5>
                    <p>
                        Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.
                    </p>
                    <div class="mn20"></div>
                    <h5>Where can I get some?</h5>
                    <p>
                        There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.
                    </p>
                    <div class="mn20"></div>
                </div>
            </div>
        </div>
    </div>
</section><footer>
{% endblock body %}