<ul>
    <li><a href="{% url 'profile' %}" class="active">Личный кабинет</a></li>
    <li><a href="{% url 'investment' %}" class="">Инвестировать</a></li>
    <li><a href="{% url 'investments' %}" class="">Мои Вложения</a></li>
    <li><a href="{% url 'refill' %}" class="">Прием платежей</a></li>
    <li><a href="{% url 'transactions' %}" class="">История</a></li>
    <li><a href="{% url 'profile-settings' %}" class="">Настройки</a></li>
    <li><a href="{% url 'password_change' %}" class="">Сменить пароль</a></li>
    <li><a href="{% url 'chat' %}" class="">Чат</a></li>
{#    <li><a href="/discount" class="">Дисконт</a></li>#}
</ul>