{% extends 'base.html' %}
{% block body %}
<section class="profile-page">
    <div class="container">
        <div class="row">
            <div class="d20">
                <div class="padding-right m20">
                    <div class="box-shadow">
                        <div class="profile">
                            <div class="image">
                                <img src="/static/img/profile-image.png" alt="Бегалиев Тилек Таалаевич">
                            </div>
                            <div class="name">
                                <p>Бегалиев Тилек Таалаевич</p>
                            </div>
                            <div class="balance">
                                <span>мой баланс:</span>
                                <p>750.00 <u>C</u></p>
                            </div>
                        </div>
                        <nav class="sidebar-menu">
                            {% include 'profile-sidebar-menu.html' %}
                        </nav>
                    </div>
                </div>
                <div class="mn10"></div>
            </div>
            <div class="d80 account">
                <div class="box-shadow">
                    <div class="settings-tabs">
                        <ul class="table">
                            <li class="d33">
                                <a href="javascript:void(0);">
                                    <img src="/static/img/elcart.png" alt=""><span>Карта Элкарт</span>
                                </a>
                            </li>
                            <li class="d33">
                                <a href="javascript:void(0);">
                                    <img src="/static/img/mastercard.png" alt=""><span>Карта MasterCard</span>
                                </a>
                            </li>
                            <li class="d33">
                                <a href="javascript:void(0);">
                                    <img src="/static/img/visa.png" alt=""><span>Карта Visa</span>
                                </a>
                            </li>
                        </ul>
                        <div class="settings-content">
                            <div class="tab">
                                <div class="my-balance">
                                    <div class="mn15"></div>
                                    <p>Мой баланс</p>
                                    <div class="image"><img src="/static/img/balance-logo.png" alt=""></div>
                                    <p>750.00 <u>C</u></p>
                                </div>
                                <form method="post" class="inputform">
                                    <label>Номер карты <b>Элкарт</b></label>
                                    <input type="text" pattern="[0-9\s]{16,}" placeholder="xxxx xxxx xxxx xxxx">
                                    <div class="w-half m-right">
                                        <label>Срок действия</label>
                                        <input type="text" pattern="[0-9]{2}/[0-9]{2}" placeholder="01/19">
                                    </div>
                                    <div class="w-half">
                                        <label>CVC/CVC2</label>
                                        <input type="text" pattern="[0-9]{3}" placeholder="xxx">
                                    </div>
                                    <div class="w-half m-right">
                                        <label>Сумма</label>
                                        <input type="text" pattern="^[0-9]+$">
                                    </div>
                                    <div class="w-half">
                                        <button type="submit" name="spend" class="send-btn btn">Пополнить</button>
                                    </div>
                                </form>
                            </div>
                            <div class="tab">
                                <div class="my-balance">
                                    <div class="mn15"></div>
                                    <p>Мой баланс</p>
                                    <div class="image"><img src="/static/img/balance-logo.png" alt=""></div>
                                    <p>750.00 <u>C</u></p>
                                </div>
                                <form method="post" class="inputform">
                                    <label>Номер карты <b>MasterCard</b></label>
                                    <input type="text" pattern="[0-9\s]{16,}" placeholder="xxxx xxxx xxxx xxxx">
                                    <div class="w-half m-right">
                                        <label>Срок действия</label>
                                        <input type="text" pattern="[0-9]{2}/[0-9]{2}" placeholder="01/19">
                                    </div>
                                    <div class="w-half">
                                        <label>CVC/CVC2</label>
                                        <input type="text" pattern="[0-9]{3}" placeholder="xxx">
                                    </div>
                                    <div class="w-half m-right">
                                        <label>Сумма</label>
                                        <input type="text" pattern="^[0-9]+$">
                                    </div>
                                    <div class="w-half">
                                        <button type="submit" name="spend" class="send-btn btn">Пополнить</button>
                                    </div>
                                </form>
                            </div>
                            <div class="tab">
                                <div class="my-balance">
                                    <div class="mn15"></div>
                                    <p>Мой баланс</p>
                                    <div class="image"><img src="/static/img/balance-logo.png" alt=""></div>
                                    <p>750.00 <u>C</u></p>
                                </div>
                                <form method="post" class="inputform">
                                    <label>Номер карты <b>Visa</b></label>
                                    <input type="text" pattern="[0-9\s]{16,}" placeholder="xxxx xxxx xxxx xxxx">
                                    <div class="w-half m-right">
                                        <label>Срок действия</label>
                                        <input type="text" pattern="[0-9]{2}/[0-9]{2}" placeholder="01/19">
                                    </div>
                                    <div class="w-half">
                                        <label>CVC/CVC2</label>
                                        <input type="text" pattern="[0-9]{3}" placeholder="xxx">
                                    </div>
                                    <div class="w-half m-right">
                                        <label>Сумма</label>
                                        <input type="text" pattern="^[0-9]+$">
                                    </div>
                                    <div class="w-half">
                                        <button type="submit" name="spend" class="send-btn btn">Пополнить</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mn10"></div>
            </div>        </div>
    </div>
</section>
{% endblock body %}